<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Bio</a></li>
		       
	        		<li><a href="/res">Research</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/misc">Miscellanea</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>    
	        		<li><a href="https://twitter.com/ndehouche">Twitter</a></li>
	        		<li><a href="https://github.com/ndehouche">Github</a></li>
				<li><a href="https://www.researchgate.net/profile/Nassim-Dehouche">Researchgate</a></li>
				
				
				</ul>
			</footer>
		</body>
	</html>
