<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Bio</a></li>
		       <li><a href="/blog">Blog</a></li>
	        		<li><a target="_blank" href="https://scholar.google.com/citations?user=qRw_QI0AAAAJ&hl=en">Research</a></li>
	        		
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>    
				
	        		<li><a target="_blank" href="https://twitter.com/ndehouche">Twitter</a></li>
	        		<li><a target="_blank" href="https://github.com/haailabs">Github</a></li>
				<li><a target="_blank" href="https://scholar.google.com/citations?user=qRw_QI0AAAAJ&hl=en">Google Scholar</a></li>
				<li><a target="_blank" href="https://haai.info">HaAI Labs</a></li>
				<li><a target="_blank" href="https://preprints.io">Preprints</a></li>
				<li><a target="_blank" href="https://cannily.xyz">Cannily</a></li>
				<li><a target="_blank" href="https://blockchainlaw.org">Blockchain Law</a></li>
				<li><a target="_blank" href="https://coursechat.org">CourseChat</a></li>
				
				</ul>
			</footer>
		</body>
	</html>
